html {
    margin: 0px;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("secondAttempt.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: black;
    background-position: center;
    font-family: helvetica-light;
    color: white;
    display: grid;
    grid-auto-rows: 25vh; 
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 4fr 1fr; 
}

header{
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    
}
.icon {
    grid-column: 1;
    max-height: 100px;
    max-width: 100px;
    height: 1vh;
    width: auto;
    padding-top: 5px;
    padding-right: 6px;
    padding-left: 1px;
    margin: 5px;
    /* background-color: blue; */
}
#title {
    grid-column: 2;
    font-size: 6vw;
    letter-spacing: 3.5px;
    margin: 10px;
    padding-left: 3px;
    /* background-color: purple; */
}

main { 
    grid-row: 3;
    grid-column: 2;
    /* background: black; */
    text-align: center;
}

form {
    /* background-color: pink; */
    padding: 30px;
    margin: 10px;
    height: 100%;
    /* border: 2px solid #4CAF50;  */
}

form input{
    padding: 5px;
    margin: 10px;
    font-size: 1.1em;
    border-radius: 10px;
    border: solid 5px #dcdcdc;
    /* transition: box-shadow 0.3s, border 0.3s; */
}

a {
    font-size: 1.2em;
}
#creatAnAccount {
    color: white;
    text-decoration: none;
    /* border: 2px solid #4CAF50;  */
}
#creatAnAccount:hover{
    color: yellow;
    cursor: pointer;
}
.button {
    border-radius: 10px;
    /* border: 2px solid #4CAF50;  */
    padding: 7px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.button:hover{
    color: yellow;
}

@media (max-width: 1205px)
{ 
    body {
        
        background-size: auto 100%;

    
    } 
    header{
        word-wrap: break-word;
    }

}

