<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">

        <link rel="stylesheet" href="./stylesheets/decade.css">
        <link rel="stylesheet" href="../stylesheets/movieSelection.css">
        <link rel="stylesheet" href="../stylesheets/grid.css">
        <link rel="stylesheet" href="../stylesheets/movieDescriptionSection.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
    <body style="background-image: url('/images/hypnotize.png')">
      <nav class="navbar">
        <div class="icon">
          <a href="/"><img class="popcorn" src="/images/food.svg"></a>
        </div>
        <div class="navlinks">
          <a href="/genre"> Genre </a>
          <a href="/decade"> Decade </a>
          <a href="/games"> Games </a>
          <a href="/tutorial"> Tutorial </a>
        </div>
        <div class="searchbar">
          <form>
            <input class="searchinput" type="text"></input>
          </form>
          <img class="searchsvg" src="/images/magnifier.svg">
        </div>
        <div class="login">
          <a href="/login"> Login / Register </a>
        </div>
      </nav>
      <section class="genrecontent">
          <div id="_80s" class="genre">
            <div class="title">
              <a>80's</a>
            </div>
            <div class="genreimage">
              <img class="genresrc" src="/Movie Images/Landscape/E.T. the Extra-Terrestrial.jpg">
            </div>
          </div>
          <div id="_90s" class="genre">
            <div class="title">
              <a>90's</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/Movie Images/Landscape/Pulp Fiction.jpg"></div>
          </div>
          <div id="_2000s" class="genre">
            <div class="title">
                <a>2000's</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/Movie Images/Landscape/Remember the Titans.jpg"></div>
          </div>
          <div id="_2010-Current" class="genre">
            <div class="title">
                <a>2010-Current</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/Movie Images/Landscape/The Revenant.jpg"></div>
          </div>
      </section>

        <section class="movieList">    
          <h1 id="movieListGenreHeading"></h1>
            <div id="imageGrid">            
            </div>  
        </section>


        <section class="movieDiscription">
            
          <div class="row">
            <div class="col-12"><h1 id= "movieName">MovieTitle</h1></div>
          </div>
              
          <div class="row">
    
            <div class="col-6">
              <div id="imgDivOnMovieDiscriptionP" class="flex-container">
                <figure>
                  <img id="desFig" class="flex-item images" src= "">
                </figure>
              </div>
            </div>
    
            <div class="col-6">
              <div class="synopsisDiv" id="temporaryDiv">
                <h3>Director: <span id="director"></span></h3>
                <h3>Genre: <span id="genre"></span></h3>
                <h3>Year of Release: <span id="year">TBD</span></h3>
                <p id="synopsis">movie discription</p>
                <a class="playGameButton">Play Game</a>
              </div>

              <div class="movieTrivia synopsisDiv">
                <h3 id="triviaHeading">Movie Trivia</h3>
                <p id="question">Question:</p> <br>
                <p class="answerOptions" id="answer1"></p>
                <p class="answerOptions" id="answer2"></p>
                <p class="answerOptions" id="answer3"></p>
                <p class="answerOptions" id="answer4"></p>
                <p class="answerOptions" id="answer5"></p>
              </div>

            </div>
    
          </div>
          
              
        </section>


      </footer>

      <script src="/scripts/movieSelection.js"></script>
      <script src="/scripts/handlerTest.js"></script>

    </body>
</html>