<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">

        <link rel="stylesheet" href="./stylesheets/decade.css">
        <link rel="stylesheet" href="../stylesheets/movieSelection.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
    <body style="background-image: url('/images/hypnotize.png')">
      <nav class="navbar">
        <div class="icon">
          <a href="/"><img class="popcorn" src="/images/food.svg"></a>
        </div>
        <div class="navlinks">
          <a href="/genre"> Genre </a>
          <a href="/decade"> Decade </a>
          <a href="/games"> Games </a>
          <a href="/tutorial"> Tutorial </a>
        </div>
        <div class="searchbar">
          <form>
            <input class="searchinput" type="text"></input>
          </form>
          <img class="searchsvg" src="/images/magnifier.svg">
        </div>
        <div class="login">
          <a href="/login"> Login / Register </a>
        </div>
      </nav>
      <section class="genrecontent">
          <div id="_80s" class="genre">
            <div class="title">
              <a>80's</a>
            </div>
            <div class="genreimage">
              <img class="genresrc" src="/Movie Images/Landscape/E.T. the Extra-Terrestrial.jpg">
            </div>
          </div>
          <div id="_90s" class="genre">
            <div class="title">
              <a>90's</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/Movie Images/Landscape/Pulp Fiction.jpg"></div>
          </div>
          <div id="_2000s" class="genre">
            <div class="title">
                <a>2000's</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/Movie Images/Landscape/Remember the Titans.jpg"></div>
          </div>
          <div id="_2010-Current" class="genre">
            <div class="title">
                <a>2010-Current</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/Movie Images/Landscape/The Revenant.jpg"></div>
          </div>
      </section>

        <section class="movieList">    
          <h1 id="movieListGenreHeading"></h1>
            <div id="imageGrid">            
            </div>  
        </section>

      </footer>

      <script src="/scripts/movieSelection.js"></script>

    </body>
</html>