#desFig {
    height: auto;
    width: 40vw;
}
.flex-container{
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap;
    justify-content: flex-start; */
    justify-content: space-around;
}
@media only screen and (max-width: 768px) {
    #desFig {
        height: auto;
        width: 60vw;
    }
}
#movieName {
    font-size: 3em;
}


.synopsisDiv{
    color: rgb(39, 158, 134);

}

    